@charset "utf-8";
/* CSS Document */
*{margin: 0px;padding: 0px;list-style-image: none;list-style-type: none;}
div{ }
a{text-decoration: none;width:100%;}
.clear{clear:both;overflow:hidden;text-indent:2em;}
html{width:100%;height:100%;}
body{font-family:微软雅黑;color:#666;margin:0 auto;position: relative; width:6.4rem; background-color:#f4f3f9;}




/*通过单选按钮样式*/
 input[type=radio] {
    display: inline-block;
    vertical-align: middle;
    width: .6rem;
    height: .6rem;
    -webkit-appearance: none;
    background-color: transparent;
    border: 0;
    outline: 0 !important;
    line-height: .6rem;
    color: #d8d8d8;
}
 
 input[type=radio]:after {
    display:block;
    width: .55rem;
    height: .55rem;
    border-radius: 50%;
    text-align: center;
    line-height: .4rem;
    font-size: .30rem;
    color: #fff;
    border: 3px solid #ddd;
    background-color: #ddd;
    box-sizing:border-box;
    content: "L";
    transform:matrix(-0.766044,-0.642788,-0.642788,0.766044,0,0);
    -webkit-transform:matrix(-0.766044,-0.642788,-0.642788,0.766044,0,0);
}
 
 input[type=radio]:checked:after {
    transform:matrix(-0.766044,-0.642788,-0.642788,0.766044,0,0);
    -webkit-transform:matrix(-0.766044,-0.642788,-0.642788,0.766044,0,0);
    border-color: #fd8f23;
    background-color: #fd8f23;
}
div.button{ text-align:center;}
.nextbutton{ background:#df6f3f; border:1px solid #df6f3f; border-radius:50px; margin:o auto; }
.next{ width:4rem; height:.88rem; font-size:.34rem; color:#fff;}



/*个人中心-消费者*/
.personinfo{ background:#ffffff; width:100%;  padding:.3rem;  line-height:.8rem;}
.personinfo .perleft{width:1.25rem; float:left; }
.personinfo .perleft img{width:1.1rem; height:1.1rem; border-radius:50px;}
.personinfo .perright{ width:4.5rem; display:inline-block;}
.personinfo .perright .info{ width:4.1rem;}
.personinfo .perright .info p{ line-height:.4rem;}
.personinfo .perright .info p.nickname span{ color:#797979; font-weight:bold; font-size:.3rem;}
.personinfo .perright .info p.nickname input{ border:1px solid #ddd; height:.4rem;}
.personinfo .perright .info p.nickname input.btnok{ border:1px solid #fd8f23; background:#fd8f23; color:#fff; width:1rem; padding:.1rem .2rem; line-height:.2rem;}
.personinfo .perright .info p.nickname img{ width:.3rem; height:.3rem; line-height:.2rem; margin-left:.2rem; margin-bottom:-.05rem; }
.personinfo .perright .info p.phone{ color:#999999; font-size:.28rem;}
.personinfo .perright .info p.phone span{ font-size:.26rem; margin-left:.2rem;}
.personinfo .perright .info p.phone a{ color:#df6f3f;margin-left:.2rem;}
.personinfo .perright .tag{ float:right;line-height:.8rem; color:#c5c5c5;}
.personinfo .perright .tag a{ font-size:.4rem; color:#c5c5c5; }

.perinfolist{ width:100%; background:#ffffff; height:auto;margin-top:.3rem;}
.perinfolist ul li{  height:.5rem; line-height:.5rem;  border-bottom:1px solid #ddd; padding:.3rem .1rem .3rem .3rem;}
.perinfolist ul li a,.perinfolist ul li i{ font-size:.4rem; color:#181818; font-style:normal;}
.perinfolist ul li a.title{ float:right; width:4.8rem;}
.perinfolist ul li i{ float:right; background:url(../img/rightgo.png) no-repeat; width:.3rem; height:.5rem; margin-right:.15rem;}
.perinfolist ul li a img{ width:.5rem;}

.logout{ width:100%; background:#ffffff; margin-top:.3rem; height:1rem; text-align:center; line-height:1rem;border-bottom:1px solid #ddd;}
.logout a { color:#181818; font-size:.4rem;}

/*
.cover{ width:4rem; height:3rem;background:#ffffff; border-radius:30px; text-align:center;}
.cover p.tip{ line-height:2rem;height:2rem; border-bottom:1px solid #ddd; color:#2b2b2b; font-size:.26rem; font-weight:600;}
.cover p.button{ line-height:1rem;height:1rem;}
.cover p.button a{color:#459cfb; font-size:.24rem;} 
*/



/*图文文章列表*/
.hotlist{ width:100%; background:#ffffff; height:100%; overflow:auto;}
.hotlist ul { width:100%;height:100%;}
.hotlist li{ padding: .35rem .3rem; border-bottom:1px solid #f5f5f5;}
.hotlist li div.hotleft{float:left;width:1.9rem; height:1.5rem; display:inline-block;}
.hotlist li div.hotleft img{width:1.9rem; height:1.3rem;}
.hotlist li div.hotright{ width:3.8rem;  display:inline-block; margin-left:.1rem;}
.hotlist li div p{ width:100%; line-height:.4rem;}
.hotlist li div p.title{ margin-bottom:.2rem; }
.hotlist li div p.title a{ font-size:.26rem; color:#333333; font-family:"微软雅黑";}
.hotlist li div p span{ font-size:.22rem; color:#c1c1c1;}
.hotlist li div p span.time{ float:right;}

/*纯文字文章列表*/
.hotlist li.txt{ padding: .2rem .3rem; border-bottom:1px solid #f5f5f5;}
.hotlist li.txt div p.title{ margin-bottom:.2rem; }
.hotlist li.txt div p.title a{ font-size:.26rem; color:#3c87c7; font-family:"微软雅黑";}


/*完善资料-选择用户类型*/
.usertypetitle{ color:#949494; font-size:.32rem; text-align:center; margin:.8rem auto .55rem;}
.usertype{ width:6rem; height:3rem;  margin-bottom:.7rem; background:#fff; text-align:center; padding:.35rem 0 .35rem;}
.usertype img{ width:2rem;}
.usertype p{ color:#333; font-size:.35rem; margin-top:.4rem;}

/*完善资料*/
.perinfoedittip{width:100%; background:#eeeeee; height:.7rem;color:#df6f3f; font-size:.24rem; padding:.2rem; line-height:.7rem;}
.perinfoedit{ width:100%; background:#ffffff; height:100%; padding-bottom:3rem;}
.perinfoedit ul li{  height:.6rem; line-height:.6rem;  border-bottom:1px solid #ddd; padding:.3rem .1rem .3rem .3rem; border:1px solid #ddd;}
.perinfoedit ul li span{ font-size:.30rem; color:#737373;  border-right:2px solid #ddd; padding-right:.3rem;}
.perinfoedit ul li span i{ color:#f45f59;font-size:.35rem; margin-right:.1rem;}
.perinfoedit ul li input{ width:4rem; border:0; height:.5rem; padding:.1rem; margin-right:.2rem; float:right; font-size:.26rem; color:#333;}
.perinfoedit ul li input[type=radio]{ width:.5rem; float:none; height:.8rem; line-height:.3rem; }
.perinfoedit ul li div.sex{ float:right; width:4rem;font-size:.30rem; line-height:.2rem;}
.perinfoedit div.button{ margin-top:1.5rem; margin-top:.2rem;}

.compinfoedittip{width:100%; background:#fff; height:3rem; text-align:center; padding:.3rem 0;}
.compinfoedittip img{height:3rem;}
.compinfoedit input.wait{ background:#dddddd; border:1px solid #dddddd;}
.compinfoedit p.checktip{ color:#df6f3f; font-size:.24rem; padding:.35rem .3rem; line-height:.3rem;}


