@charset "utf-8";
/* CSS Document */
*{margin: 0px;padding: 0px;list-style-image: none;list-style-type: none;}
div{ }
a{text-decoration: none;width:100%;display:inline-block;}
.clear{clear:both;overflow:hidden;text-indent:2em;}
html{width:100%;height:100%;}
body{font-family:微软雅黑;color:#666;margin:0 auto;position: relative; width:6.4rem; background-color:#f4f3f9;}

/*顶部*/
.topL{width:1.8rem;height:.55rem;float:left; padding:15px 0 0 15px; }
.topimg img{width:1.5rem;}
.topCenter{ width:3.2rem; font-size:.23rem; color:#fff;font-weight:bold; line-height:0.92rem; padding-left:.2rem; }
.topRnav{width:1.0rem;height:.92rem; line-height:0.92rem; background:#df6f3f; float:right; ; text-align:center;}
.topRnav a{font-size:.23rem; color:#fff; font-weight:600}

/*首页导航区域*/
.nav{width: 100%;height: .8rem;background-color: #fff;text-align: center; margin-top:.2rem; overflow:hidden;position:relative; }
.nav ul{float:left;position:absolute;left:0;top:0;width: 100%;}
.nav li{width: .8rem;height: .8rem;float: left;line-height: .8rem;text-align: center;font-size: .24rem;color: #3f3f3f;padding: 0 .13rem;position: relative;border-bottom: 1px solid #ddd;}
.nav li i{background: #df6f3f;height: .05rem;display: none;position: absolute;left: 0;bottom: 0;width: 70%;  margin:auto 0.13rem;}
.nav li a{color: #333333;display: inline-block;width: .8rem;font-weight:600;}
.nav li.sel a{ color:#df6f3f; }
.nav li.sel i{display: inline;color:#df6f3f; border-radius:5px;}



.topphone{padding-left: .73rem;background: url(../images/footphone.png) no-repeat center left;background-size: .53rem .53rem;display: inline-block;font-size: .2rem;color: #bbbbbb;margin-top: .5rem;height: .8rem;line-height: .4rem;text-align: left;}
.topphone em{color: #c1a558;}

/*首页广告轮播区域*/
.banner,.bannerswiper{width: 100%;height:3rem;overflow: hidden;position: relative;text-align: center;}
.bannerswiper .swiper-slide{width: 100%;height: 3rem;float: left;}
.bannerswiper .swiper-slide img{width: 100%;height: 3rem;}
.swiper-slide {width: 100%;overflow: hidden;color: #fff;text-align: center;}
.pagination {position: absolute;left: 0;text-align: center;bottom:.2rem;width: 100%;z-index: 100;}	
.swiper-pagination-switch {display: inline-block;width: .1rem;height:.1rem;border-radius: 50%;background: #c1a558;margin: 0 3px;cursor: pointer;border: 1px solid #c1a558;}
.swiper-active-switch {background: #FFFFFF;}

.actswiper{width: 100%;height:7rem;overflow: hidden;position: relative;text-align: center;padding-bottom: .9rem;float: left;}
.actswiper .swiper-slide{width: 100%;height:auto;float: left;}
.actpagination{bottom: .3rem;}

.actpagination .swiper-pagination-switch,.bannerpagination .swiper-pagination-switch{display: inline-block;width: .15rem;height:.15rem;border-radius: 50%;background: #bdb8b6;margin: 0 3px;cursor: pointer;border: 1px solid #bdb8b6;}
.actpagination .swiper-active-switch,.bannerpagination .swiper-active-switch {background: #df6f3f;border: 1px solid #df6f3f;}

/*4个按钮区域*/
.xiangdao{ width:100%; height:1.86rem; background:#fff;}
.xiangdao ul li{ float:left; width:25%; text-align:center; padding-top:.25rem;}
.xiangdao ul li a img{width:.93rem; height:.93rem;}
.xiangdao ul li i{height:.2rem; line-height:.2rem;  bottom:0; color:#b2b2b2; font-size:.24rem; float:left; font-style:normal; text-align:center; width:1.5rem; margin-top:.1rem; }

/*文章列表*/
.hotlist{ width:100%; background:#fff; height:100%; overflow:auto;}
.hotlist ul { width:100%;height:100%;}
.hotlist li{ padding: .35rem .3rem; border-bottom:1px solid #f5f5f5;}
.hotlist li div.hotleft{float:left;width:1.9rem; height:1.5rem; display:inline-block;}
.hotlist li div.hotleft img{width:1.9rem; height:1.3rem;}

.hotlist li div.hotright{ width:3.8rem;  display:inline-block; margin-left:.1rem;}
.hotlist li div p{ width:100%; line-height:.4rem;}
.hotlist li div p.title{ margin-bottom:.2rem; }
.hotlist li div p.title a{ font-size:.26rem; color:#333333; font-family:"微软雅黑";}
.hotlist li div p span{ font-size:.22rem; color:#c1c1c1;}
.hotlist li div p span.time{ float:right;}

/*文章详情页面*/
.jbbox{width:100%;background-color: #ffffff;float: left;}
.newstitle{margin: 0 .2rem;color: #333333;font-size: .3rem;line-height: .4rem;padding-top: .3rem;padding-bottom: .22rem;}
.newstime{padding: 0 .2rem;color: #666666;font-size: .18rem;height: .4rem;line-height: .4rem;padding-bottom: .1rem;border-bottom: 1px solid #eeeeee;}
.wordcom{width: 100%;height: auto;padding-bottom: .4rem; padding-top:.3rem;}
.wordcom img{width: 6.4rem;}
.wordcom_sma{height: auto;margin:0 .2rem .2rem;  float:left;}
.wordcom_sma p{font-size: .22rem;color: #333333;line-height: .36rem;float: left;width: 100%; line-height:.4rem;padding-top: .1rem;}
.wordcom_sma p.smaltitle{color: #c1a558;font-size: .26rem;border-top: 1px solid #eeeeee;line-height: .5rem;height: .5rem; float: left;padding-top: .1rem;}
.wordcom_sma p.busimg img{width: 6rem;}
.wordcom_sma p img{max-width: 6rem;}

/*评论*/
.plcontent{ background:#fff; margin-top:.3rem;}
.bigtitle {height: 1rem; line-height:1rem; color:#333333; font-size:.26rem; padding:.1rem;}

.changyanemptry{height:.4rem; background-color:#f8f8f8; color:#cccccc;font-size:.24rem; line-height:.5rem; text-align:center; background:#fff;  display:none;}

.changyancontent{ text-align:left; display:inline-block; width:100%}
.changyancontent ul{ width:100%;}
.changyancontent ul li{border-bottom:1px dotted #d4d4d4; padding:.2rem; height:auto; display:inline-block; width:100%;}

.changyancontent ul li div.plleft{ display:inline-block; }
.changyancontent ul li div.plleft img{border-radius:45px; width:.7rem; height:.7rem;}
.changyancontent ul li div.plright{ display:inline-block; float:right; width:5.2rem; line-height:.25rem;  padding: 0 .20rem;}
.changyancontent ul li div.plright .user{ height:.5rem; line-height:.2rem;}
.changyancontent ul li div.plright a.button{ width:4.5rem; height:.65rem; line-height:.65rem; background:#f4f3f9; border-radius:40px; padding-left:.1rem; border:0; color:#999999; font-size:.26rem; text-align:center;}
.changyancontent ul li div.plright p{ line-height:.3rem;}
.changyancontent ul li div.plright p img {width:4rem; text-align:center; padding:.2rem;}
.changyancontent ul li div.plright p.username{ color:#494949;font-size:.20rem;}
.changyancontent ul li div.plright p.time{ color:#999999;  text-align:left;font-size:.20rem;}
.changyancontent ul li div.plright .plcontent{ padding-right:.5rem; height:auto; display:block; width:100%;}

div.replay{ background:#fff; height:100%;}
textarea.replay{ width:100%; height:3.5rem; border:none; border-bottom:1px solid #ddd; padding:.2rem; font-size:.22rem;}
ul.imglist { height:auto; border:0; width:100%; display:inline-block;}
ul.imglist li{ float:left; margin-right:.2rem; padding-right:0px; margin-top:.15rem;}
ul.imglist li img{ width:1.4rem; height:1.4rem;}
ul.imglist li span{ background:url(../img/close.png) no-repeat; width:.27rem; height:.27rem; position:absolute; margin-left:-.1rem; margin-top:-.1rem; }
div.replaybutton{ width:100%; left:0; bottom:0; position:fixed;}
div.replaybutton input{ width:100%; height:.80rem; background:#df6f3f; font-size:.32rem; line-height:.80rem; border:0; color:#fff; }



.more{ color:#df6f3f; text-align:center; font-size:.24rem; padding:.3rem .4rem; background:#fff;}